body 
{
    font-family: 'Special_Elite',cursive;
    background: cyan;
}

.header_div
{
    background: white;
    color: red;
}

.header_div p
{
    font-family: 'Roboto' , sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bolder;
    width: 70px;
}

.copy_right_footer
{
    position: fixed;
    color: gray;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
}